@font-face {
    font-family: 'Montserrat Bold' ;
    src: url('montserrat-bold') format('truetype');
 
 }

 
.header__inner, .header__inner:hover {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header {
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out!important;
    z-index: 1020;
}

.pt-40 {
    padding-top: 40px;
}

.section {
    position: relative;
    padding: 80px 0;
}
.core-nav {
    display: block;
    position: relative;
}
.core-nav .nav-header {
    display: block;
    position: absolute;
    z-index: 2;
}
.core-nav .wrap-core-nav-list.right {
    text-align: right;
}
.header .wrap-core-nav-list {
    position: initial;
}
.core-nav .wrap-core-nav-list {
    text-align: left;
    position: relative;
    z-index: 1;
}
.header .toggle-bar.core-nav-toggle {
    float: right;
    font-size: 24px;
}
.core-nav .core-nav-toggle {
    display: none;
    border: 0;
    padding: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
}
.header .nav-header .brand {
    display: inline-block;
    margin-top: 33px;
}
.header__inner .nav-header .brand {
    margin-top: 0px!important;
}
.core-content .brand {
    outline: 0;
}
a {
    transition: all .3s ease-in-out!important;
    color: #1e5ee5;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header__mobile {
    position: fixed;
    width: 100%;
    display: none;
    background: #fff;
    padding: 20px 0;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 12%);
    text-align: center;
    top: 0;
    z-index: 2;
}
.header .toggle-bar.core-nav-toggle {
    float: right;
    font-size: 24px;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dropdown-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    left: 0;
    top: 0;
    opacity: 0;
}
.core-nav .wrap-core-nav-list .core-nav-list {
    display: inline-block;
    margin: 0 0 -5px;
    padding: 0;
    list-style: none;
}
.core-nav .wrap-core-nav-list .core-nav-list li {
    display: block;
    float: left;
}
.header .menu li {
    padding: 0 15px;
}
/* * {
    box-sizing: border-box;
} */
a {
    color: var(--bs-link-color);
    text-decoration: underline;
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

.header .menu li a {
    display: inline-block;
    color: #2c2d2d;
    font-size: 14px;
    line-height: normal;
    font-family: "Montserrat Bold",sans-serif;
    padding: 40px 0;
    text-decoration: none;
}
.header .menu li.dropdown a::after {
    /* content: "\f0d7";
    font-family: FontAwesome;
    font-size: 11px;
    margin-left: 5px;
    padding-top: 4px; */
}
.header__inner .menu li a {
    padding: 25px 0!important;
}
.header .menu li.active a {
    color: #1e5ee5;
}
.core-nav .wrap-core-nav-list .core-nav-list li {
    display: block;
    float: left;
}
.core-nav .wrap-core-nav-list.right .dropdown>.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d7deee;
    border-bottom: none;
}

.dropdown:hover .dropdown-menu{
display: block;
content: "";

}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.header .menu li a:hover, .header .menu li.active a {
    color: #1e5ee5;
}
/* ---------- footer -----*/

/* footer code */
.footer {
    position: relative;
    display: block;
    padding: 100px 0 0;
}
.footer__widget {
    margin-bottom: 60px;
}
.footer__widget-title {
    margin-bottom: 40px;
}
.article__card-comment, .footer__widget-contact .fa, .form__subscribe-button, .masthead__content-subtitle, .pricing__content p, .pricing__grid-price, .pricing__popular .pricing__content-currency, .pricing__popular .pricing__content-package, .testimoni__author, h4 {
    font-family: "Montserrat Bold",sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer__widget-linklist {
    margin: 0;
    padding: 0;
}
.footer__widget-linklist li {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
}
.body-copy, .fine-print, .form-control, .headline, .section__cta .column__boxed, body, html {
    font-family: Montserrat,sans-serif;
}

.footer__widget-title {
    margin-bottom: 40px;
}
.footer__widget-linklist li a:hover {
    color: #0f44b2;
}
.footer__widget-linklist li a {
    color: #2c2d2d;
}


.footer__widget-linklist li a:hover {
    color: #0f44b2;
}
.footer__widget-linklist li a {
    color: #2c2d2d;
}
a:active, a:focus, a:hover {
    color: #0f44b2;
}
a.unnderline, a:active, a:focus, a:hover {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a {
    transition: all .3s ease-in-out!important;
    color: #1e5ee5;
}

.footer__widget-network-link {
    background: #eaeef4;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #7483a3;
    overflow: hidden;
    padding-top: 5px;
    margin-right: 5px;
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
}
a {
    text-decoration: none;
    background-color: transparent;
}
a {
    transition: all .3s ease-in-out!important;
    color: #1e5ee5;
}
.footer__widget {
    margin-bottom: 60px;
}
.footer__widget-network, .footer__widget-network li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.footer__widget-contact {
    display: block;
    position: relative;
    padding-left: 30px;
}
.footer__widget-logo {
    display: inline-block;
    margin-bottom: 40px;
}
.footer__widget-contact .fa {
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
}

/* --------------.dropdown-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    left: 0;
    top: 0;
    opacity: 0;
} */

.dropdown-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    left: 0;
    top: 0;
    opacity: 0;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}
.carousel, .carousel-inner, .carousel-item {
    position: relative;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}
.carousel-item {
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
.carousel-inner::after {
    display: block;
    clear: both;
}
.carousel-inner::after, .clearfix::after, .embed-responsive::before, .popover .arrow::after, .popover .arrow::before, .stretched-link::after, .tooltip .arrow::before {
    content: "";
}

.section__cta {
    background: url(../images/cta-bg.png) center center no-repeat #403595 !important;
    padding: 100px 0 !important;
    color: #fff !important;
    text-align: center !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.section__column-left {
    padding-left: 80px;
}
.section__column {
    display: block;
    position: relative;
    margin-bottom: 40px;
}
.section__column-left .column-icon {
    left: 0;
}
.section__column .column-icon {
    position: absolute;
    top: 0;
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
}
img, svg {
    vertical-align: middle;
}
.notices__heading {
    margin-bottom: 60px;
}
